
h1
{
    color: black;
    text-align: center;
    font-family: "Calibri"
}
form
{
    text-align: center;
    font-family: "Calibri"
}
body
{
    background-color: lavender;
    background-repeat: repeat;
    background-size: cover;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: aquamarine;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Calibri"
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: skyblue;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: deepskyblue;
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
button
{
    background-color: lightseagreen;
    border: 2px solid black;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 9px;
}
button:hover
{
    background-color: lightskyblue;
    color: black;
}
/* code taken from w3schools.com */
input[type=text]
{
    border: 2px solid lightseagreen;
    border-radius: 4px;
    height: 20px;
    color: black;
}
