

h1
{
    color: black;
    text-align: center;
}

p
{
    text-align: center;
}
h3
{
    text-align: center;
}
table
{
    text-align: center;
}

body
{
    background-color: powderblue ;
    background-repeat: repeat;
    background-size: cover;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: aquamarine;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: skyblue;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: deepskyblue;
    color: black;
}

{
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
